<%= form_with(model: temperature_check, class: "w-full") do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="border border-gray-400 rounded px-4 py-2 my-4">
    <div class="mb-4">
      <%= form.label :temperature, class: "text-lg normal-case" %>
      <p class="mb-4">Click the button below that corresponds to your current temperature</p>
      <div class="flex w-full px-2">
        <div class="radio-button w-full">
          <%= form.radio_button :temperature, 'normal', class: 'radio-button__input' %>
          <%= form.label :temperature, :value => 'normal', class: "w-full radio-button__label text-center" do %>
            <p class="mb-0 font-bold mb-2 text-md">Under 98.6F (37 C)</p>
            <p class="mb-0 normal-case handwriting text-xl">Normal</p>
          <% end %>
        </div>
      </div>
      <div class="form-group flex flex-wrap items-center justify-start">
        <div class="flex w-full">
          <div class="radio-button w-2/3">
            <%= form.radio_button :temperature, 'fever', class: 'radio-button__input' %>
            <%= form.label :temperature, :value => 'fever', class: "mx-2 radio-button__label text-center" do %>
              <p class="mb-0 font-bold mb-2 text-md">Above 100.4 F (38.0 C)</p>
              <p class="mb-0 normal-case handwriting text-xl">Fever</p>
            <% end %>
          </div>
          <div class="radio-button w-1/3">
            <%= form.radio_button :temperature, 'dangerous', class: 'radio-button__input' %>
            <%= form.label :temperature, :value => 'dangerous', class: "mx-2 radio-button__label text-center" do %>
              <p class="mb-0 font-bold mb-2 text-md">Above 104 F (40 C)</p>
              <p class="mb-0 normal-case handwriting text-xl">Dangerous</p>
            <% end %>
          </div>
        </div>
      </div>
    </div> 
  </div> 

  <!-- <div class="border border-gray-400 rounded px-4 py-2 my-4">
    <label for="symptoms" class="text-lg label normal-case">Symptoms</label>
    <p class="mb-4">Click any relevant symptoms.</p>
    <div class="form-group flex flex-wrap items-center justify-start">
      <div class="flex w-full">
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'cough', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'cough', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Cough</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'throat', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'throat', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Sore throat</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'breathing', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'breathing', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Shortness of breath</p>
          <% end %>
        </div>
      </div> 
      <div class="flex w-full">
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'nose', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'nose', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Runny nose</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'aches', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'aches', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Body aches</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'headache', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'headache', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Headache</p>
          <% end %>
        </div>
      </div> 
      <div class="flex w-full">
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'sneezing', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'sneezing', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Sneeze</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'fatigue', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'fatigue', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Fatigue</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.check_box ':symptoms', {}, 'diarrhoea', class: 'radio-button__input' %>
          <%= form.label :symptoms, 'diarrhoea', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">Diarrhoea</p>
          <% end %>
        </div>
      </div> 
    </div>
  </div> -->
  <div class="border border-gray-400 rounded px-4 py-2 my-4">
    <label for="age" class="text-lg label lg:pr-4 lg:mt-2 normal-case">Age</label>
    <div class="form-group flex flex-wrap items-center justify-start">
      <div class="flex w-full">
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_18_to_29', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_18_to_29', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">18 - 29</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_30_to_39', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_30_to_39', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">30 - 39</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_40_to_49', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_40_to_49', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">40 - 49</p>
          <% end %>
        </div>
      </div> 
      <div class="flex w-full">
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_50_to_59', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_50_to_59', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">50 - 59</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_60_to_69', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_60_to_69', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">60 - 69</p>
          <% end %>
        </div>
        <div class="radio-button w-1/3">
          <%= form.radio_button :age, 'age_70_plus', class: 'radio-button__input' %>
          <%= form.label :age, :value => 'age_70_plus', class: "mx-2 radio-button__label text-center" do %>
            <p class="mb-0 text-lg normal-case handwriting">70+</p>
          <% end %>
        </div>
      </div> 

    </div>
  </div>
  <div class="border border-gray-400 rounded px-4 py-2 my-4">
    <label for="symptoms" class="text-lg label  normal-case">Location</label>
    <p class="mb-4">Share your location. This is intentionally inexact.</p>

    <div class="form-group flex flex-wrap items-center justify-start">
      <label for="zip" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">Zipcode</label>
      <input pattern="[0-9]*" name="zip" id="zip" class="form-control lg:flex-1">
    </div>
  
    <div class="form-group flex flex-wrap items-center justify-start">
      <label for="city" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">City</label>
      <input for="city" class="form-control lg:flex-1">
    </div>

    <div class="form-group flex flex-wrap items-center justify-start">
      <label for="state" class="text-lg lg:w-1/6 lg:text-right lg:pr-4 lg:mt-2 normal-case">State</label>
      <div class="lg:flex-1 w-full">
        <input type="text" name="state" id="state" class="form-control" value="">
      </div>
    </div>
  </div>

  <div class="mt-8">
    <input type="submit" value="Submit todays temperature" class="normal-case btn btn-primary w-full text-2xl text-center block h-12">
  </div>
<% end %>