<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Temperature Checks</h1>

    <% if @temperature_checks.exists? %>
      <%= link_to 'New Temperature Check', new_temperature_check_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @temperature_checks.exists? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Temperature</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Symptoms</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Age</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Loc city</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Loc zip</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Loc state</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @temperature_checks.each do |temperature_check| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= temperature_check.temperature %></td>
                      <td class="p-3"><%= temperature_check.symptoms %></td>
                      <td class="p-3"><%= temperature_check.age %></td>
                      <td class="p-3"><%= temperature_check.loc_city %></td>
                      <td class="p-3"><%= temperature_check.loc_zip %></td>
                      <td class="p-3"><%= temperature_check.loc_state %></td>
          
            <td>
              <%= link_to "View", temperature_check, class: "btn btn-link no-underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Temperature Check</p>
        <%= link_to 'New Temperature Check', new_temperature_check_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
