<nav class="flex items-center justify-between flex-wrap bg-white border-b px-4 py-2" data-controller="toggle">
  <div class="flex items-center flex-shrink-0 mr-6">
    <%= link_to root_path, class: 'text-gray-900' do %>
      <span class="font-bold text-xl"><%= Jumpstart.config.application_name %></span>
    <% end %>
  </div>

  <div class="block lg:hidden">
    <button type="button" id="sidebar-open" class="flex px-6 items-center lg:hidden text-gray-500 focus:outline-none focus:text-gray-700" data-action="click->toggle#toggle touch->toggle#toggle">
      <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg>
    </button>
  </div>

  <div class="w-full block flex-grow hidden lg:flex lg:items-center lg:w-auto" data-target="toggle.toggleable" >
    <div class="text-sm lg:flex-grow">
      <%= render "shared/left_nav" %>
    </div>

    <div class="text-sm">
      <%= render "shared/right_nav" %>

      <%= link_to 'Record your temperature', root_path, class: 'nav-link' %>
      <%= link_to 'Get daily email reminder', new_tracker_reminder_path, class: 'btn btn-primary' %>
      <%#= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
      <%#= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>

    </div>
  </div>
</nav>
