
<div class="py-12 bg-white">
  <div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
    <h1 class="mb-2">Thank you!</h1>
    <p class="mb-6 text-gray-700 leading-normal text-xl">Even if you are not sick or even if you do not think that you are at risk for Covid-19. <span class="font-bold">We need your help!</span></p>
    <div class="flex flex-col items-center md:flex-row mb-8">
      <div class="w-full md:w-auto">
        <%= link_to "Start reporting your temperature", root_path, data: { turbolinks: false }, class: "text-xl btn btn-primary mr-0 lg:mb-0 mb-4" %>
      </div>
    </div>
    <div class="flex flex-col items-center md:flex-row">
      <div>
        <span class="hidden md:inline border border-gray-200 h-10 mr-4"></span>
        <%= link_to "Learn more", '#mission', class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
        <%= link_to "About the team", '#team', class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
        <%= link_to "Request the data", 'mailto:joy@nationalfevertracker.com', target: :_blank, data: { turbolinks: false }, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
    </div>
  
  </div>
</div>

<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div id="mission" class="lg:text-left">
      <p class="max-w-2xl mx-auto text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Mission</p>
      <h3 class="max-w-2xl mx-auto mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        The tool we are missing in the fight against Covid-19 is a way to collect data. 
      </h3>
    </div>

    <div class="mt-10">
      <div class="flex mx-auto max-w-xl text-lg text-gray-900">
        <div class="">
          <p class="mt-4">
            If you are willing to report your symptoms once a day for the duration of the Covid-19 epidemic, you can help people detect cases, understand the spread, and appropriately respond to this threat. This is vitally important. With better data we can save lives and we can save our economy. Everyone wants to get back to life, back to restaurants, back to seeing friends. Everyone also wants to stop millions of avoidable deaths. The way to win is through data.
          </p>
          <p class="mt-4">
            Simply put, our mission is to collect self-reported symptoms from everyone in the country.
          </p>
          <p class="mt-4">
            This tool was developed in March 2020 in response to a massive crisis that is resulting in deaths and job losses and loneliness. We are asking for help from every person. It’s your world. It’s your data. This data we collect goes directly to the research community and is available to all for free.
          </p>
          <p class="mt-4">
            This data is not a substitute for widespread direct testing for the Covid-19 virus, but it's something to fill the gap. If enough people participate, this will be extremely valuable. Let’s get the world opened up again. Let’s take Covid-19 out!
          </p>
          <p class="mt-4">
            Our application will ask you every day to report if you have a fever or not. We will ask for a few more signature symptoms of Covid-19, such as trouble breathing. The update only takes a few seconds to do.
          </p>
          <p class="mt-4">
            All health information is private. We do not collect any personal identifiers so your responses can not be linked to you directly to you. The symptoms you report will be aggregated and reported by geographic region. Even we will not know who you are [see link to Privacy].
          </p>
          <p class="mt-4 italic text-gray-700">
            P.S. This is not a business and has no intention of trying to make money. The volunteers working on this are academics and researchers.  <%= link_to 'Learn about the people behind this', about_path %> , or <%= link_to 'contact us to contribute', 'mailto:joy@nationalfevertracker.com' %>.
          </p>
        </div>
      </div>
    </div>

    <div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
      <div class="flex flex-col items-center md:flex-row">
        <div>
          <span class="hidden md:inline border border-gray-200 h-10 mr-4"></span>
          <%= link_to "Frequently asked questions", faq_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
          <%= link_to "About", about_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mt-8" id="team">
  <h1>About</h1>

  <div class="py-12 my-12 ">

    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-left">
        <div class="mt-10">
          <div class="flex mx-auto max-w-3xl text-lg text-gray-900">
            <div class="">
              <p class="mx-auto text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Background</p>
              <p class="mt-4">
                Joy Buchanan and Lenny Bogdonoff believe that this is a time of crisis for our country and our world. We are doing what we can to help. We hope that millions will join us by reporting symptoms until the crisis is over.
              </p>
                
              <p class="mt-4">
                We currently only operate in the United States. This solution for collecting data can of course be used all over the world and we encourage others to do likewise.
              </p>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-left">
        <div class="mt-10">
          <div class="flex mx-auto max-w-3xl text-lg text-gray-900">
            <div class="">
              <p class="mx-auto text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Team</p>
              <div class="card card--light card--horizontal mt-8 mb-8 max-w">
                <img class="card__avatar" src="https://i1.rgstatic.net/ii/profile.image/604117542125576-1521044254674_Q128/Joy_Buchanan.jpg">
        
                <div class="card__content text-center sm:text-left">
                  <h3 class="mb-0 text-xl font-semibold">Joy Buchanan, Ph.D.</h3>
                  <p class="mb-4 text-gray-600">Lead data scientist</p>
                  <p class="text-sm mb-4">Dr. Joy Buchanan is an Assistant Professor of Quantitative Analysis and Economics in the Brock School of Business. She teaches data analytics and economics courses. Joy is using economic experiments to understand how employers and workers respond to recessions. Her work has been supported by the National Science Foundation and other organizations. Visit Joy's website www.joybuchanan.com to learn more about her professional activities and also visit her book website www.nicodemusstory.com to see her historical fiction novel about Nicodemus.</p>
                  <%= mail_to "joy@nationalfevertracker", "email", class: "inline-block px-3 py-1 border border-blue-500 text-xs font-bold uppercase tracking-wide text-blue-500 no-underline rounded-full hover:text-blue-600 hover:border-blue-600" %>
                </div>
              </div>
                
              <div class="card card--light card--horizontal mt-8 mb-8 max-w">
                <img class="card__avatar" src="https://media-exp1.licdn.com/dms/image/C4E03AQHl5b7xJwam-A/profile-displayphoto-shrink_200_200/0?e=1590019200&v=beta&t=6ok0jUQtWTk6bT6dhoflsudiLxdmYUVmPGRBKSGLJFM">
        
                <div class="card__content text-center sm:text-left">
                  <h3 class="mb-0 text-xl font-semibold">Aaron Soellinger, M.S.</h3>
                  <p class="mb-4 text-gray-600">Data scientist</p>
                  <p class="text-sm mb-4">Aaron is the Lead data scientist at Life Prediction at Sentient Science. His specialties are delivering fundamental insights for the industrial internet using math, code and data. </p>
                  <%= mail_to "asoellin@gmail.com", "email", class: "inline-block px-3 py-1 border border-blue-500 text-xs font-bold uppercase tracking-wide text-blue-500 no-underline rounded-full hover:text-blue-600 hover:border-blue-600" %>
                </div>
              </div>

              <div class="card card--light card--horizontal mt-8 mb-8 max-w">
                <img class="card__avatar" src="https://media-exp1.licdn.com/dms/image/C4D03AQHdN_DqlFmw_Q/profile-displayphoto-shrink_200_200/0?e=1590019200&v=beta&t=D1nRUWFB7oWHyR6jkyM_hWbLihMU4ZQ7N2m-WasyM_s">
        
                <div class="card__content text-center sm:text-left">
                  <h3 class="mb-0 text-xl font-semibold">Lenny Bogdonoff</h3>
                  <p class="mb-4 text-gray-600">Lead developer</p>
                  <p class="text-sm mb-4">Software engineer and designer. Currently working with Google Fonts as a UX Engineer.</p>
                  <%= link_to "twitter", "http://twitter.com/rememberlenny", class: "inline-block px-3 py-1 border border-blue-500 text-xs font-bold uppercase tracking-wide text-blue-500 no-underline rounded-full hover:text-blue-600 hover:border-blue-600" %>
                  <%= mail_to "leonard@nationalfevertracker.com", "email", class: "inline-block px-3 py-1 border border-blue-500 text-xs font-bold uppercase tracking-wide text-blue-500 no-underline rounded-full hover:text-blue-600 hover:border-blue-600" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-left">
        <div class="mt-10">
          <div class="flex mx-auto max-w-3xl text-lg text-gray-900">
            <div class="">
              <p class="mx-auto text-base leading-6 text-indigo-600 font-semibold tracking-wide uppercase">Advisors</p>
              <div class="card card--light card--horizontal mt-8 mb-8 max-w">
                <img class="card__avatar" src="https://www.samford.edu/publichealth/directory/images/Amamoo-Ahinee.JPG">
        
                <div class="card__content text-center sm:text-left">
                  <h3 class="mb-0 text-xl font-semibold">M. Ahinee Amamoo, Ph.D., M.S.</h3>
                  <p class="mb-4 text-gray-600">Expertise: Epidemiology, biostatistics, data management and database development</p>
                  <p class="text-sm mb-4">M. Ahinee Amamoo brings over 15 years of public health experience as a biostatistician and epidemiologist to her role as professor at Samford University’s School of Public Health. Amamoo previously worked at the University of North Carolina at Chapel Hill, where her work focused on chronic kidney disease, cancer, eliminating health disparities and community-based participatory research. Her research interests include health disparities, chronic diseases and utilizing big data to examine health outcomes.  While serving as the Director for the Center of Biostatistics and Data Management within the Institute for Health, Social and Community Research at Shaw University, she helped to establish a research center that encouraged the development of independent student and faculty researchers to identify, investigate, and address health disparities in chronic diseases.  She is passionate about giving back to her community, and enjoys serving as a missionary.  She has helped to develop health ambassador programs, health screening initiatives, and mission trips to help address the health needs of communities.</p>
                </div>
              </div>
              <div class="card card--light card--horizontal mt-8 mb-8 max-w">
                <img class="card__avatar" src="https://doximity-res.cloudinary.com/image/upload/t_public_profile_photo_320x320/baxviuxuisclpkov6tub.jpg">
        
                <div class="card__content text-center sm:text-left">
                  <h3 class="mb-0 text-xl font-semibold">Dr. Brittany D. Payne</h3>
                  <p class="mb-4 text-gray-600">Specialty / Subspecialties: Internal Medicine / General Internal Medicine</p>
                  <p class="text-sm mb-4">Dr. Brittany D. Payne is an internist in Birmingham, Alabama and is affiliated with multiple hospitals in the area, including University of Alabama at Birmingham Hospital and Birmingham Veterans Affairs Medical Center. She received her medical degree from University of Alabama School of Medicine and has been in practice between 3-5 years.</p>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
